/* help/help-styles.css */

/* No custom styling is strictly necessary as we rely on Bootstrap's modal-lg and accordion styles */

/* Example: Customizing the accordion button color to match the theme */
#faqAccordionHelp .accordion-button:not(.collapsed) {
    color: var(--bs-primary);
    background-color: var(--bs-light-subtle);
}

#faqAccordionHelp .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(229, 57, 53, 0.25); /* Primary color shadow */
}

.help-mail{
    color: var(--bs-secondary) !important; 
    font-size: 16px;
}   